.App {
  /* text-align: center; */
}

li {
  display: flex;
  align-items: center;
}

.item {
  /* border: 1px solid red; */
  /* display: inline-block; */
  display: block;
  cursor: pointer;
  padding: 0.2rem 1rem;

  /* padding: 0.2rem 1rem; */
  border-radius: 0.2rem;
}

.not-completed {
  background-color: rgb(183, 28, 28);
  color: white;
}

.not-completed:hover {
  background-color: rgb(193, 47, 47);
}

.completed {
  color: white;
  background-color: darkgreen;
}

#editMode {
  background-color: white;
  color: black;
}

.btn-remove,
.btn-edit {
  cursor: pointer;
  margin-left: 0.2rem;
  display: block;
  padding: 0.2rem;
}

button {
  cursor: pointer;
  margin-left: 0.2rem;
  /* padding: 0.2rem; */
  /* display: block; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
